<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição Perfil</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <button type="submit" class="botao-sair">Sair</button>
    </header>
    <main class="editPTamanho d-flex">

        <section class="foto">
            <img class="foto-pessoa2" src="../../static/img/icone-pessoa.png" alt="icone com a foto de uma pessoa">
        </section>

        <section>
            <h1 class="titulo-edicao-perfil">Editar Perfil</h1>

            <form>
                <div>
                    <label class="nome-edicao-perfil">Nome</label>
                    <input class="edicaoP" type="text" id="nome-edicao-perfil" name="nome-edicao-perfil" required>
                </div>

                <div>
                    <label class="email-edicao-perfil">Email</label>
                    <input class="edicaoP" type="text" id="email-edicao-perfil" name="email-edicao-perfil" required>
                </div>

                <div>
                    <label class="tel-edicao-perfil">Telefone</label>
                    <input class="edicaoP" type="number" id="tel-edicao-perfil" name="tel-edicao-perfil" required>
                </div>

                <div class="botaoEditP d-flex">
                    <button class="BotaoVerde" type="submit">Salvar</button>
                    <a class="BotaoVermelho" href="perfil.html" role="button">Cancelar</a>
                </div>

            </form>
        </section>

    </main>

    <footer>
        <div>
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div>
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div>
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div>
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>

</html>