<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos_Individuais</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/responsivo.css">
    <script src="../../static/js/app.js"></script>
</head>

<body>
    <header>
        <img src="../../static/img/logo.png" alt="Logo da Lavoro">
        <div class="celularCabe">
            <button type="submit" class="botao-sair"><a class="linkUnico" href="home.html">Sair</a></button>
            <button id="tresRiscos" class="botaohomeLogado" aria-label="Abrir menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="fundobarra2 d-flex">
            <nav class="navegar d-flex">
                <button id="Fechar" class="fechar">Fechar</button>
                <a href="perfil.html" class=""' d-flex"><img src="../../static/img/Pessoa.png" alt="Icone de pessoa">Perfil</a>
                <a href="insumos.html" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png" alt="Icone de Insumos">Insumos</a>
                <a href="produto.html" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png" alt="Icone da caixa de produtos">Produtos</a>
                <a href="lucro.html" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png" alt="Icone de um saco de dinheiro">Lucratividade</a>
            </nav>
        </div>
    </header>
    <main class="d-flex">
        <div class="fundobarra">
            <h4> Funcionalidades </h4>
            <nav class="navegar d-flex">
                <a href="perfil.html" class="linksn d-flex"><img src="../../static/img/Pessoa.png" alt="Icone de pessoa">Perfil</a>
                <a href="insumos.html" class="linksn d-flex"><img src="../../static/img/carrinho_insumos.png" alt="Icone de Insumos">Insumos</a>
                <a href="produto.html" class="linksn d-flex"><img src="../../static/img/caixa_de_produto.png" alt="Icone da caixa de produtos">Produtos</a>
                <a href="lucro.html" class="linksn d-flex"><img src="../../static/img/icone_lucratividade.png" alt="Icone de um saco de dinheiro">Lucratividade</a>
            </nav>
        </div>
        <div class="d-flex campo-produto-indiv">
            <section class="centralização">
                <h3 class="NomeP ajustP">Bolo de chocolate</h3>
                <p class="TempoDoP ajustP">Tempo de preparo: 1 h</p>
                <p class="IdP ajustP">Código: 01
                    <div class="d-flex ad-insumos ajustP">
                        <h4>Insumos: </h4>
                        <a class="BotaoMarrom" href="cadastroDeInsumos.html">+</a>
                    </div>
                    <div class="insumosP d-flex">
                        <p>farinha de trigo</p>
                        <p>1</p>
                        <p>Kg</p>
                        <button class="BotaoVermelho">Excluir</button>
                    </div>
                    <div class="d-flex campo-lucro">
                        <p>Preço de Venda: R$ 20,40</p>
                        <Button class="BotaoVerde"><a href="produto.desfoque.html">Lucro</a></Button>
                    </div>
                    <div class="voltarP d-flex">
                        <a href="" class="BotaoVermelho">Cancelar</a>
                        <Button class="BotaoVerde"><a href="produto.html" >Ok</a></Button>
                    </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="logo-footer">
            <img src="../../static/img/logo.png" alt="Logo da Lavoro">
            <p>© 2025 Lavoro – Todos os direitos reservados</p>
        </div>
        <div class="contato">
            <div class="d-flex meios-contatos">
                <img src="../../static/img/Icone_localização.png" alt="Ícone de localização">
                <p>Rua Barão do Rio Branco - Birigui/SP</p>
            </div>
            <div class="d-flex meios-contatos">
                <img src="../../static/img/Icone_telefone.png" alt="Ícone de telefone">
                <p>(11) 99999-9999</p>
            </div>
            <div class="d-flex meios-contatos">
                <img src="../../static/img/Caixa_de_email.png" alt="Ícone de email">
                <p>Lavoro@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</body>

</html>