/* 768 tablet */
@media (max-width: 769px) {
    d-flex {
        margin-bottom: 2em;
    }

    .botoes {
        flex-direction: column-reverse;
        margin-top: 2em;
        gap: 1em;
    }

    .cadastro-geral {
        margin-bottom: 2em;
        font-size: 14px;
    }

    .fundobarra {
        display: none;
    }


    .cardastro {
        margin-bottom: 2em;
    }

    .cadastro-produto h2 {
        margin-bottom: 1em;
    }

    header {
        width: 100%;
    }

    header img {
        width: 20%;
    }

    .botaohomeLogado {
        display: flex;
    }
}

/* 425px mobile */

@media (max-width: 426px) {

    .cardastro {
        width: 20em;
        margin-right: -10em;
    }

    .botaoMarrom {
        margin-left: -10em;
    }

    header {
        width: 35em;
    }

    .cadastro-geral h2 {
        margin-right: -7.5em;
    }

    .footer {
        margin-right: -13em;
        font-size: 12px;
    }


    .botaohomeLogado{
        display: flex;
    }

}