 :root {
    --BegeEscuro--: #A68C69;
    /*Cor principal*/
    --BegeClaro--: #F0E5C9;
    /*Cor principal*/
    --VerdeEscuro--: #878F55;
    /*Cor Secundaria*/
    --Preto--: #000000;
    /*Cor Secundaria*/
    --VermelhoPastel--: #D74747;
    /*Cor Botão*/
    --Branco--: #FFFFFF;
    /*Cor Fundo*/
    --CinzaClaro--: #F5F5F5;
    /*Cor Detalhes*/
    --CinzaEscuro--: #E9E9E9;
    /*Cor Detalhes*/
    --titulohome--: #785337;
    /*Cor Título Home*/
    --subtitulohome--: #876434;
    /*Cor Subtítulo Home*/
    --verderodape--: #606831;
    /*Cor NavegarSanduiche*/
    --BegeNavegar--: #a68c697e;
    /*Cor Rodapé*/
    --depoimentos--: #8B9550;
    --fundobeneficios--: #ADB86C;
    --textobeneficiosh4--: #343724;
    --titulobeneficios--: #A68C69;
    --fundoformulario--: #BBC09D;
    --funcionalidades--: #D7DFAA;
    --funcoeslucro--: #9BA657;
    --tabela--: #ADB86C;
    --fundo--tabela: #B9A07D;
    /*Numeração*/
    --BordaMuitoRedonda--: 2em;
    --BordaPoucoRedonda--: 0.6em;
    --TamanhoBotaoSair--: 0.9em 1.6em;
    --TamanhoBotao--: 0.5rem 2rem;
    --TamanhoBotaoAd--: 0.4rem 1rem;
}

/* 768 tablet */
@media (max-width: 769px) {
    header {
        width: auto; 
    }
    
    .botaohomeLogado{
        display: flex;
    }
    .fundobarra{
        display: none;
    }
    /*Home*/
    .textoinicial h1{
        font-size: 3rem;
        margin-bottom: 2em;
        text-align: left;
    }
    .textoinicial p{
        font-size: 1.6rem;
        text-align: left;
        color: var(--Preto--);
    }
    .botaocadastro{
        margin-left: 16rem;
        margin-top: -2rem;
    }
    .beneficios-pai{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .beneficio{
        align-items: center;
        display: flex;
        max-width: 468px;
    }
    .dinheiro{
        flex-direction: row-reverse;
    }
    .container-funcionalidades{
        flex-direction: column;
        align-items: center;
    }
    .espaçar-funcionalidade{
        gap: 4em;
    }
    footer{
        gap: 4em;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .logo-footer{
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .contato{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .meios-contatos{
        align-items: center;
        gap: 0.3em;
    }
    /*Lucro*/
    .lucro{
        margin-left: 2em;
    }
    .funcoes{
        flex-direction: column;
    }
    .funcoeslucro{
        flex-direction: column;
    }

    /*Insumos e Produto*/
    .produto{
        flex-direction: column;
    }
    .insumos{
        flex-direction: column;
    }
}

/* 425px mobile */

@media (max-width: 426px) {

    .cardastro {
        width: 20em;
        margin-right: -10em;
    }

    .botaoMarrom {
        margin-left: -10em;
    }

    .cadastro-geral h2 {
        margin-right: -7.5em;
    }

    .footer {
        margin-right: -13em;
        font-size: 12px;
    }


    

}