 :root {
    --BegeEscuro--: #A68C69;
    /*Cor principal*/
    --BegeClaro--: #F0E5C9;
    /*Cor principal*/
    --VerdeEscuro--: #878F55;
    /*Cor Secundaria*/
    --Preto--: #000000;
    /*Cor Secundaria*/
    --VermelhoPastel--: #D74747;
    /*Cor Botão*/
    --Branco--: #FFFFFF;
    /*Cor Fundo*/
    --CinzaClaro--: #F5F5F5;
    /*Cor Detalhes*/
    --CinzaEscuro--: #E9E9E9;
    /*Cor Detalhes*/
    --titulohome--: #785337;
    /*Cor Título Home*/
    --subtitulohome--: #876434;
    /*Cor Subtítulo Home*/
    --verderodape--: #606831;
    /*Cor NavegarSanduiche*/
    --BegeNavegar--: #a68c697e;
    /*Cor Rodapé*/
    --depoimentos--: #8B9550;
    --fundobeneficios--: #ADB86C;
    --textobeneficiosh4--: #343724;
    --titulobeneficios--: #A68C69;
    --fundoformulario--: #BBC09D;
    --funcionalidades--: #D7DFAA;
    --funcoeslucro--: #9BA657;
    --tabela--: #ADB86C;
    --fundo--tabela: #B9A07D;
    /*Numeração*/
    --BordaMuitoRedonda--: 2em;
    --BordaPoucoRedonda--: 0.6em;
    --TamanhoBotaoSair--: 0.9em 1.6em;
    --TamanhoBotao--: 0.5rem 2rem;
    --TamanhoBotaoAd--: 0.4rem 1rem;
}

/* 768 tablet */
@media (max-width: 768px) {
    header {
        width: auto; 
    }
    
    .botaohomeLogado{
        display: flex;
    }
    .fundobarra{
        display: none; 
    }
    
    /*Home*/
    .textoinicial h1{
        font-size: 2rem;
        margin-bottom: 2em;
        margin-left: 2.8em;
        text-align: justify;
    }
    .textoinicial p{
        font-size: 1.4rem;
        text-align: -webkit-left;
        color: 876434;
        margin-left: 3.8em;
        margin-top: -2em;
    }
    .botaocadastro{
        margin-left: -11rem;
        margin-top: 7rem;
    }
    .beneficios h3{
        font-size: 2.2em;
    }
    .beneficios-pai{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .beneficio{
        align-items: center;
        display: flex;
        max-width: 468px;
    }
    .beneficio img{
        height: 12em;
    }
    .gestao-produtos{
        margin-left: 2em;
    }
    .preci-inteligente{
        margin-right: 2em;
    }
    .relatorio-claro{
        margin-left: 2em;
    }
    .dinheiro{
        flex-direction: row-reverse;
    }
    .container-funcionalidades{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .formulario .BotaoVerde{
        margin-left: 1em;
    }
    
    /* Cadastro */
    .fundo-cadastro{
        height: 42em;
    }
    
    .titulo-cadastro {
        margin-top: -1.1em;
    }

    .form-cadastro{
        margin-left:-1em;
        width: 70%;
        margin: 20px;
    }
    
    /* Login */
    .titulo-login{
       margin-left: 9em;
    }
    .form-login{
        margin-left: 10em;
    }
    .BotaoMarrom{
        margin-left: 0em;
    }
    .conjunto-login{
        gap: 8em;
        margin-left: 0em;
    }


    /*Lucro*/
    .lucro h1{
        margin-left: -2em;
    }
    .funcoes-card{
        height: 7em;
        width: 7em;
    }
    .funcoes{
        margin-left: -7em;
    }
    p{
        margin-top: 2em;
    }
    .funcoeslucro{
        margin-left: -7em;
    }

    /* Perfil */
    .foto-pessoa{
        margin-left: -13em;
    }
   

    /* Edição Perfil */
    .foto-pessoa2{
        margin-top: 0em;
        width: 11em;
        height: 10em;
    }

    .editPTamanho{
        flex-direction: column;
    }

    .edicaoP{
        width: 46%;
    }
  
    /* Insumos */
   
    .insumos p{
        margin-left: 0.6em;
        margin-top: 0em;
    }
    .insumos{
        padding: 1.5em;
    }
    .insumos .BotaoVermelho{
        border-radius: 0.6em;
    }

    /* Cadastro Insumo  */
    .titulo-cadastro-insumo {
        margin-left: -4.5em;
    }
    .cardastro{
        margin-left: -5em;
    }
    .BotaoVermelho{
        border-radius: var(--BordaPoucoRedonda--);
        font-size: 1em;
    }

    /* Editar Insumo */
    .edicao{
        margin-left: 7em;
        height: 28em;

    }


    /* Produtos */
    
    p{
        margin-top: 0em;
    }
    .produto .BotaoVermelho{
        margin-left:-1em;
        margin-top: 0.3em;
    }
    .produto{
        padding: 1em;
    }

    /* Editar Produto */
    .insumosP{
        margin-left: 1em;
        gap: 4rem;
        padding: 1rem;
    
    }
    .botoes-edicao{
        margin-top: 2em;
        gap: 20em;
    }
    

    
}

/* 425px mobile */

@media (max-width: 426px) {

    .cardastro {
        width: 20em;
        margin-right: -15em;
        margin-left: -24em;
    }

    .botaoMarrom {
        margin-left: -10em;
    }

    .cadastro-geral h2 {
        margin-right: -5em;
    }

    footer{
        gap: 4em;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .logo-footer{
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .contato{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .meios-contatos{
        align-items: center;
        gap: 0.3em;
    }
        /* Edição Perfil */
    .foto-pessoa2{
        margin-left: 2em;
    }
    .editPTamanho {
        width: auto;
    }
    .titulo-edicao-perfil {
        margin-left: 2em;
        color: #878F55;
        margin-top: -3em;
    }
    .form-edicao-perfil{
        margin-left: 2em;
    }
    .edicaoP{
        width: 55%;
    }

    /* Perfil */
    .info-pessoal{
        margin-left: -20em;
        margin-top: 18em;
    }
    .foto-pessoa{
        margin-left: -9em;
    }

    /* Lucro */
    .lucro h1{
        margin-left: -2.5em;
        font-size: 1.6em;
        height: -2em;
        width: 6.5em;
    }
    .funcoes{
        flex-direction: column;
        margin-left: -8em;
    }
    .funcoeslucro{
        flex-direction: column;
        margin-left: -8em;
    }



    /* editar produto */
        .edicao{
            margin-left: 1.5em;
            width: 20em;
            height: 26em;
        }
        .insumosP{
            display: none;
            gap: 2rem;
            width: 20em;
            margin-left: 0;
        }
        /* graficos */
        .graficos{
            flex-direction: column;
            margin-left: 0;
        }
        .graficos-card{
            padding: 2em 2em;
        }
        /* tabela */
        .card{
            max-width: 350px;
        }
        .card h2 {
            margin-bottom: 40px;
        }

}

@media (max-width: 320px){
    /* Home */

    .paginainicial {
        height: 20em;
        width: 30em;
    }
    .textoinicial{
        padding-right: 10px;
    }
    .paginainicial{
        height: 24em;
        width: 20em;
    }
    .textoinicial h1{
        font-size: 1.6em;
        text-align: left;
        margin-left: 58px;
        width: 8em;
        margin-top: -2em;
    }
    .textoinicial p{
        text-align: inherit;
        font-size: 0.9em;
        margin-top: -3em;
    }
    .botaocadastro{
        margin-top: -2em;
        margin-left: -5em;
        padding: 0.5em;
    }

    .beneficio{
        flex-wrap: wrap;
        align-items: center;
    }
    .img-grafico{
        margin-left: 2.6em;
    }
    .img-caixa{
        margin-left: 2.5em;
    }
    .preci-inteligente{
        margin-left: 2.5em;
    }
    .card-depoimento:not(:first-child){
        display: none;
    }

    .espaçar-funcionalidade{
        flex-direction: column;
        gap: 1em;
    }

    .estrelas-responcivo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Cadastro */
    .fundo-cadastro{
        background-image: url(../img/Fundo_Login_Responcivo.png);
        background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
        background-position: center; /* Centraliza a imagem de fundo */
        background-size: cover; /* Faz a imagem de fundo cobrir toda a área do elemento */
        text-align: center; /* Centraliza o conteúdo do texto horizontalmente */
        padding-top: 100px; /* Adiciona espaço acima do conteúdo (afasta do topo) */
        height: 42em; /* Define a ALTURA da seção como 600px */
        width: 100%; /* Define a LARGURA como 100% do elemento pai */
     }
    .form-cadastro{
        margin-left: 1em;
        height: 32em;
        margin-top: 3em;
        width: 11.5em;
    }
    form input{
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .titulo-cadastro{
        font-size: 1.8em;
        font-family: 'Lato';
        color: #606831;
    }

    /* Login */
    .fundo-login{
        background-image: url(../img/Fundo_Login_Responcivo.png);
        background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
        background-position: center; /* Centraliza a imagem de fundo */
        background-size: cover; /* Faz a imagem de fundo cobrir toda a área do elemento */
        text-align: center; /* Centraliza o conteúdo do texto horizontalmente */
        padding-top: 100px; /* Adiciona espaço acima do conteúdo (afasta do topo) */
        height: 600px; /* Define a ALTURA da seção como 600px */
        width: 100%; /* Define a LARGURA como 100% do elemento pai */
     }
    .form-login{
        margin-left: 1.5em;
        height: 23em;
        height: 16em;
        margin-top: -1em;
    }
    form input{
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .titulo-login {
        font-size: 1.8em;
        font-family: 'Lato';
        color: #606831;
        margin-left: 0em;
        margin-top: 6em; 
    }

    /* Lucro */
    .lucro h1{
        margin-left: -5em;
        font-size: 1.6em;
        height: -2em;
        width: 6.5em;
    }
    .funcoes{
        flex-direction: column;
        margin-left: -10em;
    }
    .funcoeslucro{
        flex-direction: column;
        margin-left: -10em;
    }

    /* Perfil */
    .foto-pessoa{
        margin-left: 6.5em;
    }
    .infPessoa{
        flex-direction: column;
        margin-left: -2em;
    }
    .info-pessoal h1{
        font-size: 1.5em;
        margin-top: 1em;
    }

    /* Edição Perfil */
    

    .beneficio{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .beneficio img{
        height: 10em;
    }

    .depoimentos-container{
        flex-wrap: wrap;
    }
    .logo-footer{
        margin-left: 0;
    }
    .card-depoimento:not(:first-child) {
    display: none;
  }
  /* cadastro */
  .fundo-cadastro{
    background-image: url(../img/Fundo_Login_Responcivo.png);
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-position: center; /* Centraliza a imagem de fundo */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área do elemento */
    text-align: center; /* Centraliza o conteúdo do texto horizontalmente */
    padding-top: 100px; /* Adiciona espaço acima do conteúdo (afasta do topo) */
    height: 42em; /* Define a ALTURA da seção como 600px */
    width: 100%; /* Define a LARGURA como 100% do elemento pai */
  }
  .form-cadastro{
    margin-left: 1em;
    height: 23em;
    margin-top: 7em;
    width: 15em;
    
  }
  form input{
    width: 95%;
    justify-content: center;
    align-items: center;
  }
  .form-cadastro label{
    display: none;
  }
  .botaoVerde{
    margin-left: 0;
  }
  /* login */
  .fundo-login{
    background-image: url(../img/Fundo_Login_Responcivo.png);
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
    background-position: center; /* Centraliza a imagem de fundo */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área do elemento */
    text-align: center; /* Centraliza o conteúdo do texto horizontalmente */
    padding-top: 100px; /* Adiciona espaço acima do conteúdo (afasta do topo) */
    height: 600px; /* Define a ALTURA da seção como 600px */
    width: 100%; /* Define a LARGURA como 100% do elemento pai */
  }
  .form-login{
    margin-left: 2em;
    height: 15em;
    width: 15em;
  }
    .titulo-login {
        margin-left: 1em;
        margin-top: 5em;
    }
    /* lucro */
    .lucro h1{
        margin-left: -5em;
    }
    .funcoes{
        flex-direction: column;
        margin-left: -13em;
    }
    .funcoes-card{
        width: 10em;
    }
    .funcoeslucro{
        flex-direction: column;
        margin-left: -13em;
        justify-content: center;
    }
    /* perfil */
    .infPessoa {
        flex-direction: column;
        margin-left: 0;
    }
    .foto-pessoa{
       margin-left: 0;
    }
    /* insumos */
    .campo-demonstrar{
        width: 20em;
        background-color: var(--Branco--);
    }
    .campoDeBusca input {
            width: 80em;
    }
    .insumos{
        background-color: var(--Branco--); /* Fundo branco */
        padding: 0.3em 1em 0.3em 1em; /* Espaçamento vertical e horizontal */
        border-radius: var(--BordaMuitoRedonda--); /* Bordas arredondadas */
        color: var(--Preto--); /* Cor do texto */
    }
    

    .conjunto-login {
        flex-direction: column;
        gap: 2em;
    }
}

    .campo-produto-indiv {
    width: 70%;
}

    .BotaoVerde {
        margin-left: -15em;
    }
